<%- include header %>
	<div class="wrapper about">
		<div class="about_bg">
			<img src="/images/about/bg.jpg">
		</div>
		<p style="">我有一壶酒，足以为风尘.</p>
		<p style="">尽倾江海里，赠饮天下人.</p>
	</div>

<%- include footer %>