<!-- 
	@require './header.less'
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>白色石头</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="description" content="白色石头的个人博客，学习交流">
		<meta name="keywords" content="个人网站，博客，html,css,javascript,jquery,html5,css5,jquery">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<nav class="middle">
			<ul class="nav_list">
				<li class="nav_item"><a href="/">首页</a></li>
				<li class="nav_item"><a href="/archive">存档</a></li>
				<li class="nav_item"><a href="/tags">标签</a></li>
				<li class="nav_item"><a href="/about">关于我</a></li>
			</ul>
		</nav>
		<header class="middle">
			<div class="wrapper">
				<h1><%= title %></h1>
			</div>
		</header>

		<% if (success) { %>
  			<div><%= success %></div>
		<% } %>
		<% if (error) { %>
  			<div><%= error %> </div>
		<% } %>
		<div class="content">
			
		