body, p,pre,code,p,h1,h2,h3,h3,ul,li,a,div,table,tr,td,input {
    margin: 0;
    padding: 0;
}
body{
	font-size:14px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
	color: #555;
	text-decoration: none;
}

.middle {
	margin-left: auto;
	margin-right: auto;
}

.border {
	border-left: 5px solid #666;
	padding-left: 10px;
}

p {
    line-height: 1.6em;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code {
	padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.text {
    height: 20px;
    width: 220px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.text:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

nav .nav_list {
	text-align: center;
}
nav .nav_list .nav_item {
	display: inline-block;
}
nav .nav_item a {
	font-size: 16px;
	border: none;
    color: #666;
    display: block;
    padding: 20px 24px;
    position: relative;
}

header {
    background-color: #f7f7f7;
}

header .wrapper {
	padding: 30px 0;
}

header .wrapper h1 {
	text-align: center;
	font-size: 70px;
}

.content .wrapper {
	overflow: hidden;
	margin: 0 35px;
}

.content .main {
	width: 950px;
	float: left;
}

.content .aside {
	float: right;
	width: 313px;
	padding-top: 10px;
	padding-left: 15px;
}

.aside .tags .tags_list {
	list-style: none;
	overflow: hidden;
}

.aside .tags .tags_list .tag_item {
	float: left;
	display: inline-block;
}
.aside .tags .tags_list  a {
	text-decoration: underline;
	padding-right: 8px;
	line-height: 25px;
}

.friendlinks {
	margin-top: 15px;
}

.friendlinks ul {
	margin-top: 5px;
	margin-left: 20px;
}

.friendlinks .fl_item {
	font-size: 16px;
    line-height: 1.5em;
}

.readBooks {
	margin-top: 15px;
}

.readBooks table {
	margin-top: 10px;
	border-collapse: collapse;
    border-spacing: 0;
}

.readBooks table img {
	width: 102px;
	height: 137px;
}

article{
	font-size:16px;
	padding-top:18px
}

article p {
    text-indent: 2em;
}

article h3 {
    font-weight: 400;
    margin: 5px 0;
}

article .posttitle {
	font-size: 36px;
}

article a {
    color: #0095dd
}
.info{
	font-size:14px;
	margin: 15px 0;
}

.comments input {
	margin-bottom: 8px;
}

.comments .comment_item {
    background-color: #F5F5F5;
    margin: 12px 0;
    padding: 30px;
}

.comments .conmment_content {
    margin: 10px 0;
}

.archive h2 {
    font-size: 36px;
    margin: 15px 0;
}

.archive ul {
    font-size: 18px;
    line-height: 1.5em;
}

.archive ul time {
    margin-right: 8px;
}

.content .tags {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5em;
}

.about_bg {
    text-align: center;
}
.about p {
    font-size: 35px;
    text-align: center;
}
.about_bg  img{
    width: 700px;
}

.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#f3f3f3;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#f00;color:#fff;-webkit-transition:color .2s linear;}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}



/*移动端适配*/

@media only screen and (max-width: 1023px) {

    /*index*/
    header .wrapper h1 {
        font-size: 40px;
    }

    .content .wrapper {
        margin: 0 5px;
    }
    .content {
        width: 100%;
    }
    .content .main {
        width: 100%;
    }

    .content .aside {
        width: auto;
        float: left;
        padding-left: 10px;
    }

    /*about*/
    .about p {
        font-size: 28px;
        text-align: left;
    }
    .about img {
        width: 100%;
        margin-bottom: 15px;
    }
}