/* inspired by http://yihui.name/cn/ */
*{padding:0;margin:0;}
body{
	font-size:14px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
	color: #555;
	text-decoration: none;
}

.middle {
	margin-left: 0;
	margin-right: 0;
}

.border {
	border-left: 5px solid #666;
	padding-left: 10px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code {
	padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.text {
    height: 24px;
    width: 220px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.text:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

nav {
	width: 1235px;
}

nav .nav_list {
	text-align: center;
}
nav .nav_list .nav_item {
	display: inline-block;
}
nav .nav_item a {
	font-size: 16px;
	border: none;
    color: #666;
    display: block;
    padding: 20px 24px;
    position: relative;
}

header .wrapper {
	padding: 30px 0;
}

header .wrapper h1 {
	text-align: center;
	font-size: 70px;
}

.content {
	min-width: 1235px;
}

.content .wrapper {
	overflow: hidden;
	margin: 0 35px;
}

.content .main {
	width: 950px;
	float: left;
}

.content .aside {
	float: right;
	width: 313px;
	padding-top: 10px;
	padding-left: 15px;
}

.aside .tags .tags_list {
	list-style: none;
	overflow: hidden;
}

.aside .tags .tags_list .tag_item {
	float: left;
	display: inline-block;
}
.aside .tags .tags_list  a {
	text-decoration: underline;
	padding-right: 8px;
	line-height: 25px;
}

.friendlinks {
	margin-top: 15px;
}

.friendlinks ul {
	margin-top: 5px;
	margin-left: 20px;
}

.friendlinks .fl_item {
	font-size: 16px;
}

.readBooks {
	margin-top: 15px;
}

.readBooks table {
	margin-top: 10px;
}

article{
	font-size:16px;
	padding-top:18px
}
article .posttitle {
	font-size: 36px;
}
.info{
	font-size:14px;
	margin: 15px 0;
}

.comments input {
	margin-bottom: 8px;
}

.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#f3f3f3;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#f00;color:#fff;-webkit-transition:color .2s linear;}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}


.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#999999;margin-right:1.2em;}